<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Imágenes del Universo</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        body {
        background-image: url(/templates/html_pictures/360_F_572233127_jynQmlurqQLN5RJbD3xFen8xKBXnspIY.jpg);
        background-repeat: no-repeat;
        background-size: cover; /* Use cover to ensure the background covers the entire viewport */
        background-position: center; /* Center the background image */
        background-position-y: 0;
        color: aqua;
    
        }
    </style>
</head>
<body>
    <h1>Consulta tu Imagen del Universo</h1>
    <form id="consultaForm">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>

        <button type="submit">Consultar</button>
    </form>

    <div id="resultado">
        <!-- Aquí se mostrará la imagen -->
    </div>

    <script src="app.js"</script>

</body>
</html>
