<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's discover what the universe looked like when you were born</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
    <style>
    </style>
</head>
<body>
    <h1>Let's discover what the universe looked like when you were born</h1>
    <form id="consultaForm">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>

        <button type="submit">Consultar</button>
    </form>

    <div id="resultado">
        <!-- Aquí se mostrará la imagen -->
    </div>

    <script src="app.js"</script>

</body>
</html>
